@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background: var(--iris-ice);
}

:root {
    /* Dark theme */
    --primary: #5f27cd;
    --secondary: #dee4ef;
    --tertiary: #151728;
    --text-light: #ffffff;

    /* Light theme */
    --text-dark: #1a1a1a;

    /* Others */
    --bright: #ffffff;
    --grey: #858792;
    --light-grey: #3b3d49;
    --iris-ice: #dee4ef;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.text {
    font-size: .9rem;
}

.text-primary {
    color: var(--primary)
}

.bg-primary {
    background-color: var(--primary)
}

.bg-iris-ice {
    background-color: var(--iris-ice);
}

.btn {
    width: auto;
    padding: 2px 20px;
    border-radius: 2rem;
    font-weight: 600;
    color: var(--dark);
    margin: 0;
    outline: 0;
}

.btn-primary {
    background: #5f27cd;
    border: 2px solid #5f27cd;
    color: var(--bright);
}

.btn-primary:hover {
    background: #5e27cde5;
    border: 2px solid #5e27cde5;
}

.btn-outline {
    background: none;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.btn-outline:hover {
    border: 2px solid #5e27cde5;
}

.btn-sm {
    padding: 2px 20px
}

.btn-lg {
    padding: 4px 20px
}

.form-group {
    width: 100%;
    position: relative;
}

.form-group .form-control {
    width: inherit;
    border: 1px solid var(--tertiary);
    border-radius: .5rem;
    outline: 0;
    color: var(--text-dark);
    padding: 8px 10px;
    transition: all 0.3s ease;
}

.form-group .form-control:hover,
.form-group .form-control:focus {
    border: 1px solid var(--primary)
}

.form-group .form-control::placeholder {
    color: var(--grey);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group label i {
    font-size: .5rem;
}

.flex1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: .9rem;
}

.sd-wrapper {
    background: var(--tertiary);
}

.form-wrapper {
    background: var(--bright)
}

.step-progress-wrapper li {
    position: relative;
    opacity: .6;
    z-index: 1;
}

.step-progress-wrapper li.active {
    opacity: 1;
}

.step-progress-wrapper li::before {
    content: "";
    position: absolute;
    top: -2.2rem;
    left: .8rem;
    height: 0;
    width: 5px;
    background: var(--bright);
    transition: height .6s ease;
    z-index: -1;
}

.step-progress-wrapper li.active-progress::before {
    height: 50px;
    animation: grow .6s ease-in-out;
}

.step-progress-wrapper li:nth-child(1)::before {
    display: none;
}

.step-count {
    padding: 3px 5px;
    margin-right: 10px;
    font-size: .9rem;
    font-weight: 600;
    background-color: var(--bright);
    border: 2px solid var(--primary);
    color: var(--text-dark);
    border-radius: 2rem;
}

.step-form {
    display: none;
}

.step-form.active {
    display: block;
}

.custom-shape-divider-bottom-1735023271 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735023271 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1735023271 .shape-fill {
    fill: var(--light-grey);
}

@keyframes grow {
    0% {
        height: 0;
    }

    100% {
        height: 50px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 890px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1090px;
    }
}