@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
}

:root {
    /* Dark theme */
    --primary: #5f27cd;
    --secondary: #dee4ef;
    --tertiary: #151728;
    --text-light: #ffffff;

    /* Light theme */
    --text-dark: #1a1a1a;

    /* Others */
    --bright: #ffffff;
    --grey: #858792;
    --light-grey: #3b3d49;
    --iris-ice: #dee4ef;
}

.text {
    font-size: .9rem;
}

.text-primary {
    color: var(--primary)
}

.bg-primary {
    background-color: var(--primary)
}

.border-primary {
    border-color: var(--primary);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 890px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1090px;
    }
}